/* base rules(only for current components) */
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
* layouts 
*/
.col{
    display: inline-block;
    vertical-align: top;
}
.header-col{
    margin: 0 16px;
}
.body-col{
    width: calc(100% - 150px);
    margin: 0 16;
}

/* modules */
.root{
    font-size: 0;
}
.burger-wrapper{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 10px;
}
.burger-menu{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.title-douban{
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
}
.menu{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
    padding: 0 16px;
    font-size: 0;
}
.menu-item{
    width: calc((100% - 8px * 2 * 3) / 3);
    height: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 14;
}
.menu-item:hover{
    background-color: rgb(4, 126, 65);
}
.menu-item-link{
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background-color: transparent;
}