.carousel-wrapper{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.carousel-indicators{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}